extends home

block content
    form(action='/api/v1/users/signup' method='post')
        h1.form-title Signup
        .input-dev.name-input
            label(for="name") Full name
            input(type="name" name="name" placeholder="Enter your name")
        .input-dev.email-input
            label(for="email") Email Address
            input(type="email" name="email" placeholder="Enter your Email")
        .input-dev.pass-input
            label(for="password") Password
            input.pas(type="password" name="password" placeholder="Enter your password")
        .input-dev.passConfirm-input
            label(for="confirmPassword") confirm password
            input.pas(type="password" name="confirmPassword" placeholder="Confirm your password")
        button.btn(type='submit') Signup
        .form-footer
            span Already have an account..?!
            span Login
